@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #03030F;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #03030F;
    --secondary: #db0e0e;
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  @apply p-0 m-0 text-secondary bg-primary tracking-normal size-4 font-normal w-full scroll-smooth;
}

.container {
  @apply max-w-container mx-auto px-24 box-border w-full;
}

/* fix this into every div  */
.fadeonscroll_fadeonscroll_active__y4TRl {
  transform: none;
  opacity: 1;
}
.fadeonscroll_fadeonscroll_bottom__csAQR {
  transform: translateY(100px);
  transform-origin: 50% 100%;
}
.fadeonscroll_fadeonscroll__rnWOu {
  opacity: 0;
  transition: all 1s;
  transition-behavior: normal;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}

.row {
  @apply  flex
}

/* done  */
/* .row {
  margin-left: -45px;
  margin-right: -45px;
  display: flex
;
  flex-wrap: wrap;
  flex: auto;
} */

body {
  color: var(--primary);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* a {
  color: inherit;
  text-decoration: none;
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */


/* TODO: Come check this for smaller screens  */
/* @media (max-width: 767px) {
  .button_button_menu__UNm0_ .button_button_caption__CRAGs {
      padding: 5px 20px;
      font-size: .785rem;
  }
} */
/* @media (max-width: 767px) {
  body, html {
      font-size: 14px;
      overflow-x: hidden;
  } */

  /* --background-callaction-secondary: linear-gradient(190.05deg, #98E8FC -16.32%, #1FA9FF 56.32%, #8980F6 115.25%); */